#editor {
    width: 100%;
    display: flex;
    flex-direction: column;

    grid-column: span 2;

    .file-tab {
        display: flex;
        flex-direction: row;
        column-gap: var(--col-gap);
        height: 30px;
        background-color: var(--c-0);
        border-bottom: 1px solid var(--c-border);
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 13px;
        color: var(--c-800);

        :first-child {
            margin-right: auto;
        }

        icon {
            cursor: pointer;

            &:hover {
                color: var(--c-900);
            }
        }
    }

    .content {
        flex: 1;
    }

    .filename {
        &.info {
            color: var(--info);
        }
    }
}



.CodeMirror {
    width: 100%;
    height: 70vh;

    .cm-error-marker {
        text-align: center;
        color: var(--error);
    }
}