:root {
    --heading-h: 40px;
    --viewport-h: calc(100vh - var(--heading-h));
    --row-gap: 10px;

    /* border color */
    --c-border: #586e75;
    /* background */
    --c-0: #002b36;
    /* lighter background */
    --c-100: #073642;
    --c-600: #657b83;
    --c-800: #93a1a1;
    --c-900: #eee;

    --error: #dc322f;
    --warn: #839496;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI", sans-serif;
    background-color: var(--c-100);
    color: var(--c-900);

    &.loading {
        >* {
            visibility: hidden;
        }
    }
}

#topbar {
    line-height: 3em;
    background-color: var(--c-100);
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    height: var(--heading-h);
    color: var(--c-800);
    border-bottom: 1px solid var(--c-border);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    .logo {
        max-height: 80%;
    }
}

.btn {
    display: flex;
    flex-direction: row;
    column-gap: 1ch;
    row-gap: .5rem;
    cursor: pointer;
}

icon {
    width: fit-content !important;
}

#viewport {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */

    display: grid;
    grid-template-columns: 30px 180px var(--editor-width, minmax(450px, 1fr)) 5px minmax(320px, 1fr);
    grid-template-rows: calc(var(--viewport-h) - 250px) 250px;
    /* gap: 10px; */
    --row-gap: 6px;
    --col-gap: 8px;

    height: var(--viewport-h);
}

.container {}

.resize-column {
    background-color: var(--c-0);
    grid-row: span 2;
    cursor: col-resize;

    &:hover {
        background-color: var(--c-600);
    }
}

#preferences {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: var(--row-gap);

    border-top: 2px solid var(--c-border);
}

.side-panel {
    width: 100%;
    padding: 10px;

    .panel-heading {
        width: 100%;
        display: flex;
        column-gap: var(--col-gap);

        icon,
        strong {
            color: var(--c-600);
        }

        strong {
            text-transform: uppercase;
            font-size: 13px;
        }
    }
}

#assembler,
#listing {
    background: var(--c-0);
    padding: 0.5rem;
    font-family: monospace;
    border-top: 2px solid var(--c-border);
}



.log {
    background: var(--c-0);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--c-800);
    border-left: 4px solid #859900;
}

.log.error {
    border-left-color: #dc322f;
}

.controls {
    width: 100%;
    display: flex;
    column-gap: 1ch;
    background-color: var(--c-100);
    padding: 5px 10px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.align-right {
    justify-content: flex-end;
}

.align-left {
    justify-content: flex-start;
}

.align-center {
    justify-content: center;
}

.border-t {
    border-top: 1px solid var(--c-border);
}

.border-b {
    border-bottom: 1px solid var(--c-border);
}

.border-l {
    border-left: 1px solid var(--c-border);
}

.border-r {
    border-right: 1px solid var(--c-border);
}

.margin {
    margin: var(--row-gap) var(--col-gap);
}

.margin-l {
    margin-left: var(--col-gap);
}

.margin-r {
    margin-right: var(--col-gap);
}

.margin-t {
    margin-top: var(--row-gap);
}

.margin-b {
    margin-bottom: var(--row-gap);
}

.padding {
    padding: var(--row-gap) var(--col-gap);
}

.padding-l {
    padding-left: var(--col-gap);
}

.padding-r {
    padding-right: var(--col-gap);
}

.padding-t {
    padding-top: var(--row-gap);
}

.padding-b {
    margin-bottom: var(--row-gap);
}

.hidden {
    display: none;
}

.scrollbars {
    overflow: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        transition: background-color 0.2s;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
    }
}



button {
    background: #268bd2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

button:hover {
    background: #3498db;
}